// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.85;
}

a {
  color: $primary;
  transition: color 0.25s ease;
  &:hover {
    color: darken($primary, 10%);
    text-decoration: none;
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    &::after {
      content: '';
      display: block;
      width: 70px;
      height: 4px;
      background: $primary;
      border-radius: 2px;
      margin: 14px auto 0;
    }
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 90px;
    text-transform: none;
    @include serif-font;
  }
}

@media (min-width: 768px) {
  .page-section {
    padding: 100px 0;
    h2.section-heading {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
    }
    h3.section-subheading {
      font-size: 28px;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 140px;
      text-transform: none;
      @include serif-font;
    }
  }
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
